/* adminTables.css */

/* Style for the main container */
.doctor-container {
    margin: 20px;
  }
  
  /* Style for the headings */
  h1, h2 {
    margin-bottom: 10px;
  }
  
  /* Style for the table */
  .doctor-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Style for table headers */
  .table-heading {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
  }
  
  /* Style for table data */
  .table-data {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  td, th {
    border: 1px solid #ddd;
  }
  
  /* Style for delete button */
  .delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  /* Hover effect for delete button */
  .delete-btn:hover {
    background-color: #d32f2f;
  }
  
  /* Style for the form container */
.add-doctor-form {
    margin-top: 20px;
  }
  
  /* Style for the form table */
  .add-doctor-table {
    width: 100%;
  }
  
  /* Style for form labels */
  .form-label {
    font-weight: bold;
    padding-right: 10px;
  }
  
  /* Style for form inputs */
  .form-input {
    width: calc(100% - 120px); /* Adjust based on the label and input padding */
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  input[type="email"], input[type="phone"], input[type="date"] {
    width: calc(100% - 120px); /* Adjust based on the label and input padding */
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Style for submit button */
  .submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Hover effect for submit button */
  .submit-btn:hover {
    background-color: #45a049;
  }
  
  .form-select {
    width: calc(50% - 40px);
  }